.hace:checked + .hace-content::before {
  content: "";
  width: 56px;
  height: 56px;
  background-image: url("../../../Images/Layer_7_copy.svg");
}

.hace {
  display: none;
}

.hace-content {
  cursor: pointer;
}

.hace-content::before {
  content: "";
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: block;
  background-image: url("../../../Images/Group.svg");
}

.pleer {
  z-index: 10000;
  position: fixed;
  background: white;
  bottom: 0;
  width: 100%;
}
.pleer__video {
  display: none;
  position: absolute;
  top: 0;
  max-width: 100%;
}
.pleer__open-full-screen {
  cursor: pointer;
}
.pleer_panel-start {
  padding: 0 16px;
}
.pleer_like-btn {
  cursor: pointer;
  margin-right: 18px;
}
.pleer_like-btn div {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
}
.pleer_like-btn > input:checked + div::after {
  background-image: url("../../../Images/active-heart.svg");
}
.pleer_like-btn > div::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url("../../../Images/heart.svg");
}
.pleer_song-name {
  font-size: 24px;
}
.pleer__author-info {
  flex: 1 0 auto;
  margin-right: 18px;
  padding-right: 20px;
}
.pleer_song-author {
  font-size: 18px;
  color: #ae3fbd;
}
.pleer__progress-bar {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  height: 24px;
  background: #7D7D7D;
}
.pleer__progress-bar p {
  opacity: 0;
  color: white;
  position: relative;
  left: 14px;
  z-index: 10000;
}
.pleer__progress-bar p:hover {
  opacity: 1;
}
.pleer__progress-line {
  position: absolute;
  top: 0;
  left: 0;
  background: #ae3fbd;
  width: 30%;
  height: 100%;
}
.pleer__content {
  padding: 0 60px 0 60px;
  margin-bottom: 16px;
  max-height: 128px;
  display: flex;
}
.pleer__control-panel {
  margin-right: 26px;
  display: flex;
  align-items: center;
}
.pleer__song-info {
  display: flex;
}
.pleer__song-photo img {
  margin: 0 18px 0 0;
  max-width: 85px;
  min-height: 90px;
  border-radius: 10px;
}
.pleer__song-info {
  display: flex;
  align-items: center;
}

.pleer__full {
  position: relative;
}
.pleer__full .pleer__wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
.pleer__full .pleer__contenter {
  top: 40%;
  transform: translateY(-50%);
  position: relative;
  max-width: 797px;
  background: white;
  margin: 0 auto;
}
.pleer__full .pleer__song-photo {
  display: none;
  z-index: 300;
}
.pleer__full .pleer__open-full-screen {
  display: none;
}
.pleer__full .pleer__progress-bar {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.pleer__full .pleer__video {
  display: block;
}
.pleer__full .pleer__content {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 10px;
  background: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 731px;
}
.pleer__full .pleer__hidden-album {
  height: 100%;
}
.pleer__full .pleer__hidden-album img {
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
}

.af {
  flex: 1 0 auto;
}

/*# sourceMappingURL=pleer.css.map */
